<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'Name your list' %>
  <%= f.input :photo, as: :file  %>
  <div class="d-flex justify-content-around">
    <%= f.button :submit, "Create list", class: "btn-purple" %>
    <%= link_to "Cancel", root_path, class: "btn-gray" %>
  </div>
<% end %>
