
<h1>Add a new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'Name your list' %>
  <%# <%= f.association :movies, collection: @movies %>
  <%# <%= f.association :movies %>
  <%= f.button :submit %>
<% end %>
