<h1><%= @list.name %></h1>

<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
  <%= image_tag movie.poster_url, alt: movie.title, class: "movie-img rounded-top" %>
  <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
  <small class="text-muted"><%= movie.overview %></small>
<% end %>

<p><%= link_to "Back to lists", lists_path %></p>
<p><%= link_to "Create new bookmark", new_list_bookmark_path(@list) %></p>
